/* Footer Styles */
.footer {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    padding: 2rem 9%;
    background: var(--darker-bg);
    border-top: 1px solid rgba(14, 255, 255, 0.1);
}

.footer-text p {
    font-size: 1.4rem;
    color: var(--text-secondary);
}

.footer-iconTop a {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 1rem;
    background: var(--primary-color);
    border-radius: 50%;
    transition: var(--transition);
}

.footer-iconTop a:hover {
    box-shadow: var(--shadow-medium);
    transform: translateY(-3px);
}

.footer-iconTop a i {
    font-size: 2.4rem;
    color: var(--dark-bg);
}

/* Responsive Footer */
@media (max-width: 991px) {
    .footer {
        padding: 2rem 3%;
    }
}

@media (max-width: 600px) {
    .footer {
        padding: 1.2rem 1.5%;
    }
    .footer-text p {
        font-size: 1.1rem;
    }
}
@media (max-width: 500px) {
    .footer {
        flex-direction: column-reverse;
        padding: 0.8rem 1%;
    }
    .footer-text p {
        font-size: 0.9rem;
        margin-top: 1rem;
        text-align: center;
    }
}
@media (max-width: 400px) {
    .footer {
        padding: 0.5rem 0.5%;
    }
    .footer-text p {
        font-size: 0.7rem;
    }
}
@media (max-width: 375px) {
    .footer {
        padding: 0.3rem 0.2%;
    }
    .footer-text p {
        font-size: 0.5rem;
    }
} 